<div data-role="content" class="content" id="bands">
  <h1>Find a band</small></h1>
  <% if @errors %>
    <% @errors.each do |error| %>
    <p><input type="text" data-theme="e" value="<%= error %>" /></p>
    <% end %>
  <% end %>

  <form method="post" action="/bands">
    <input type="search" name="band_name" id="search-mini" value="" data-mini="true" />
  </form>

  <div class="ui-grid-c ui-responsive">
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c"></div>
    <div class="ui-block-d"><img src="/songkick.png" /></div>
  </div>

  <% if @bands && @bands["resultsPage"]["results"].length > 0 %>
      <ul data-role="listview" data-inset="true" data-count-theme="b" class="odd-thumb">
      <% @bands["resultsPage"]["results"]["artist"].each_with_index do |band,index| %>
        <li>
          <a href="/bands/<%=band['id']%>">
            <h2><%= band["displayName"] %><span class="ui-li-count"><%= @gig_count[index] %></span></h2>
          </a>
        </li>
      <% end %>
      </ul>
  <% end %>
</div>

<%
=begin
%>
  <% if @thumbnails[index] && @thumbnails[index].length > 0 %>
    <div class="thumbnail">
      <img src="<%=@thumbnails[index][0].attrs[:url]%>" />
    </div>
  <% end %>
<%
=end
%>