<div data-role="content" id="band">
  <div data-role="main" class="ui-content">
    <div class="favebands">
      <h1>
        <%= @band.display_name %>
        <button data-band="<%=@band.id%>" data-role="button" data-inline="true" data-theme="b" data-icon="minus" data-iconpos="notext" class="favebutton minus <%= @fav ? '' : 'hidden' %>">Unfollow</button>
        <button data-band="<%=@band.id%>" data-role="button" data-inline="true" data-theme="b" data-icon="plus" data-iconpos="notext" class="favebutton plus <%= @fav ? 'hidden' : '' %>">Follow</button>
      </h1>

    <% if @events.length > 0 %>
      <h4>Upcoming Concerts</h4>
      <% @events.map do |event| %>
      <div>
        <p><%= event.display_name %></p>
      </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>